@import "tailwindcss";

@theme inline {
  /* Fonts */
  --font-sans: var(--font-outfit);
  --font-heading: var(--font-playfair);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-brand-pink: #FFE9EF;
  --color-brand-accent: #DB2777;
  --color-brand-brown: #4A2C2A;
  --color-cream: #FAFAF9;
}

:root {
  --background: #FAFAF9; /* Default to cream */
  --foreground: #4A2C2A; /* Default to brand brown */
}

/* Custom Utilities */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (min-width: 640px) { max-width: 640px; }
  @media (min-width: 768px) { max-width: 768px; }
  @media (min-width: 1024px) { max-width: 1024px; }
  @media (min-width: 1280px) { max-width: 1280px; }
}

body {
  background: var(--background);
  color: var(--foreground);
}
